extends ../layouts/base

block content
  .container
    h1 Edit Movie

    include ../partials/_formErrors.pug

    form(method="post" action=`/movies/${movie._id}?_method=POST`)
      label(for="name") Name
      input(type="text" name="name" id="name" value=movie.name)

      label(for="description") Description
      textarea(name="description" id="description")= movie.description

      label(for="year") Year
      input(type="number" name="year" id="year" value=movie.year)

      label(for="genres") Genres
      select(name="genres" id="genres" multiple)
        each g in genres
          option(value=g selected=(movie.genres && movie.genres.includes(g))) #{g}

      label(for="rating") Rating (0-10)
      input(type="number" step="0.1" min="0" max="10" name="rating" id="rating" value=movie.rating)

      button(type="submit") Save Changes
