extends ../layouts/base

block content
  .container
    h1 #{movie.name}

    .form-group
      label Name
      p.form-control-static #{movie.name}

    .form-group
      label Year
      p.form-control-static #{movie.year}

    .form-group
      label Rating
      p.form-control-static #{movie.rating}

    .form-group
      label Description
      p.form-control-static #{movie.description}

    .form-group
      label Genres
      div
        each g in movie.genres
          span.genre-tag #{g}

    if isOwner
      .movie-actions
        button(type="button" id="edit-movie-button" class="button" data-movie-id=movie._id) Edit
        button(type="button" id="delete-movie-button" class="button danger" data-movie-id=movie._id) Delete
